body {
  background: rgb(46, 63, 87);
  background: linear-gradient(
    90deg,
    rgb(63, 86, 119) 0%,
    rgba(33, 44, 61, 1) 42%,
    rgb(15, 21, 29) 100%
  );
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar.fixed-left {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 230px;
  padding: 8px 16px;
  flex-flow: column nowrap;
  align-items: flex-start;
  background-color: black;
  z-index: 1200;
}

.navbar {
  color: rgb(145, 145, 145);
}

.navbar.fixed-left .navbar-brand {
  padding: 20px 0 30px 10px;
  margin-right: 16px;
  display: block;
  text-align: left;
}

.navbar.fixed-left .navbar-brand img {
  width: 131px;
  height: 40px;
}

.navbar.fixed-left .nav-link {
  padding: 8px;
}

.navbar.fixed-left .nav-link svg {
  font-size: 24px;
  margin-right: 8px
}

.navbar.fixed-left form input {
  border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.navbar.fixed-left form button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background: transparent;
  color: rgb(145, 145, 145);
  border-color: rgb(145, 145, 145);
  padding: 4px 8px;
  font-size: 14px;
}

.navbar.fixed-left form button:hover {
  background-color: rgb(145, 145, 145);
  border-color: rgb(145, 145, 145);
  color: white;
}

.btn-sign-up:hover {
  background-color: rgb(60, 211, 60)!important;
  color: white;
}

.btn-login:hover {
  background-color: white!important;
  color: black!important;
}
.navbar-top {
  font-size: 12px;
  font-weight: 700;
}

.navbar-top a {
  opacity: 0.3;
}

.single-album-wrapper a {
  font-size: 12px;
}

.category-row {
  margin-bottom: 60px;
}

.album-details-wrapper {
  margin-top: 70px;
}

.album-details-wrapper button {
  background-color: rgb(60, 211, 60)
}